# BITS F464 : Machine Learning Assignment 2

Adit Rastogi <br>
2022A7PS1330H <br><br>
Deeptansh Gupta <br>
2022A7PS1336H <br><br>
Anirban Nayak <br>
2022A3PS0705H <br>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

#html export
import plotly.io as pio
pio.renderers.default = 'notebook'

#pdf export
!pip install Pyppeteer
!pyppeteer-install

Requirement already satisfied: Pyppeteer in /Users/adit/anaconda3/lib/python3.10/site-packages (2.0.0)
Requirement already satisfied: certifi>=2023 in /Users/adit/anaconda3/lib/python3.10/site-packages (from Pyppeteer) (2023.5.7)
Requirement already satisfied: importlib-metadata>=1.4 in /Users/adit/anaconda3/lib/python3.10/site-packages (from Pyppeteer) (4.11.3)
Requirement already satisfied: urllib3<2.0.0,>=1.25.8 in /Users/adit/anaconda3/lib/python3.10/site-packages (from Pyppeteer) (1.26.14)
Requirement already satisfied: appdirs<2.0.0,>=1.4.3 in /Users/adit/anaconda3/lib/python3.10/site-packages (from Pyppeteer) (1.4.4)
Requirement already satisfied: websockets<11.0,>=10.0 in /Users/adit/anaconda3/lib/python3.10/site-packages (from Pyppeteer) (10.4)
Requirement already satisfied: tqdm<5.0.0,>=4.42.1 in /Users/adit/anaconda3/lib/python3.10/site-packages (from Pyppeteer) (4.64.1)
Requirement already satisfied: pyee<12.0.0,>=11.0.0 in /Users/adit/anaconda3/lib/python3.10/site-packages (from Pyppeteer) (11.1.0)
Requirement already satisfied: zipp>=0.5 in /Users/adit/anaconda3/lib/python3.10/site-packages (from importlib-metadata>=1.4->Pyppeteer) (3.11.0)
Requirement already satisfied: typing-extensions in /Users/adit/anaconda3/lib/python3.10/site-packages (from pyee<12.0.0,>=11.0.0->Pyppeteer) (4.4.0)
chromium is already installed.

In [2]:
#please fill the dataset path as required
data_p1 = pd.read_csv("./MIMIC/221.csv")
data_p2 = pd.read_csv("./MIMIC/230.csv")

## Data Pre-processing

In [7]:
print(data_p1.shape)
data_p1.head()

(24999, 7)

   RESP  BP-S  BP-D  SpO2  HR  PULSE  Anomaly
0    28    81   120    98  74     73        0
1    29    81   120    98  74     73        0
2    30    81   120    98  74     73        0
3    30    81   120    99  74     73        0
4    29    81   120    99  73     73        0

In [8]:
print(data_p2.shape)
data_p2.head()

(25000, 7)

   RESP  BP-S  BP-D  SpO2  HR  PULSE  Anomaly
0    15    54    73    97  72     71        0
1    15    54    73    97  72     71        0
2    15    54    73    97  72     71        0
3    15    54    73    97  72     71        0
4    15    55    74    97  72     71        0